/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter-Variable, sans-serif;
  --accent-font-family: PressStart2P, monospace;
  --header-card-wght: 410;
  --text-card-wght: 715;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --block-width: clamp(320px, 100vw, 700px);
  --black: #000000;
  --white: #fff;
  --border-label-color: #fff;
  --contour-heart-color: black;
  --animation-fill-color: #ff0000;
}
